.top-header {
  width: 100vw;
  padding: 2vh 5vw;
  display: flex;
  flex-direction: column;
  background-color: #ffffc6;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
  font-family: "M PLUS Rounded 1c";
}


.top-icon{
  height: 80px;
}

.lists-center{
    display: flex;
}


.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #8989ff;
  font-weight: bold;
  font-size: 20px;
}


.logout {
  text-decoration: none;
  color:#8989ff;
  font-size: 20px;
}

.profile {
  margin-bottom: 10px;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #8989ff;
}

.sign-up {
  text-decoration: none;
  color: #8989ff;
}

.mypage {
  line-height: 100px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  margin-left: 70px;
}

.edit-text{
  margin-left: 140px;
}

.blo-title{
  line-height: 100px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  margin-left: 100px;
}