.remypage{
  text-decoration: none;
  margin-right: 3vw;
  color: #8989ff;
  font-weight: bold;
  font-size: 20px;
  display: block;
  margin-bottom: 30px;
}

.blo-like{
  text-align: center;
  margin-top: 20px;
}