
<%= render "devise/shared/header" %>

<h1>ブログ一覧</h1>


<%= link_to "投稿する", new_post_path%>


<div class="post-main">
  <ul class="posts">
    <%= render partial: "post", collection: @posts%>
  </ul>
  <div class="side-bar">
    <div class="side-profile">
      profile
    </div>
    <div class="side-post">
      2020年12月31日  
    </div>
  </div>
</div>
<div class="page">
  <%= paginate @posts %>
</div>
