li{
  list-style: none;
}

a{
  text-decoration: none;
}

.posts{
  padding: 30px;
}

.post{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border: groove 3px yellow;
  height: 210px;
}

.post-image{
  height: 200px;
  width: 300px;

}

.post-title{
  margin-left: 20px;
  font-size: 40px;
  height: 210px;
  padding: 10px 0;
  color: brown;
}

.post-contents{
  height: 100%;
  display: flex;
  align-items: center;
}

.post_content{
  font-size: 14px;
  color: black;
  margin-right: 10px;
}