li{
  list-style: none;
}

a{
  text-decoration: none;
}

.link-btn{
  display: block;
  width: 25%;
  background: #ffa8a8;
  border: 1px solid #ffa8a8;
  color: #fff;
  line-height: 48px;
  font-size: 25px;
  cursor: pointer;
  margin: 0 auto;
}

.index-post{
  text-align: center;
  font-family: "M PLUS Rounded 1c";
}

.post-main{
  width: 100vw;
  display: flex;
  overflow: scroll;
  padding: 30px;
  font-family: "M PLUS Rounded 1c";
}

.posts{
  /* padding: 30px; */
  width: 70%;
}

.post{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  background: #ffdbb7;
    box-shadow: 0px 0px 0px 10px #ffdbb7;
    border: dashed 2px white;
  height: 230px;
}

.post-image{
  height: 200px;
  width: 300px;

}

.post-title{
  margin-left: 20px;
  font-size: 40px;
  height: 210px;
  padding: 10px 0;
  color: brown;
}

.post-contents{
  height: 100%;
  display: flex;
  align-items: center;
}

.post_content{
  font-size: 14px;
  color: black;
  margin-right: 10px;
}

.side-bar{
  margin: 0 30px 30px;
  width: 30%;
}

.side-profile{
  height: 20%;
  border: 4mm ridge brown;
  margin-bottom: 10px;
  overflow: scroll;
}

.side-post{
  border: 4mm ridge greenyellow;
  height: 50%;
  /* position: sticky;
  top: 0; */
  
}

.page{
  padding: 0 500px;
}

.pagination{}

.profile-text{
  font-size: 25px;
  color: #8f76d6;
}

.pro-name{
  font-size: 18px;
  color: #c68eff;
}

.pro-img{
  height: 100px;
}

.pro-info{
  color: #c68eff;
}